# Repaso Ejemplos Java SQLite
## Abrir una consola

## Crear la base de datos
- Ejecute el script del archivo ***crear.bat***
```
  crear.bat
```

## Probar la base de datos
- Ejecutar el manejador ***sqlite3.exe*** con la base de datos creada
```
sqlite3 bd_estudiantes
```
- Ver las tablas
```
sqlite> .tables
```
- Ejecutar un query general:
```
sqlite> SELECT * FROM estudiantes;
```
```
sqlite> SELECT nombres,programa FROM estudiantes;
```

## Ejemplo HolaDB en consola
- Copiar los archivos:
  - HolaDB.java
  - sqlite-jdbc-3.7.2.jar

- Compilar:
```
javac *.java
```

- Ejecutar:
```
java -classpath .;sqlite-jdbc-3.7.2.jar HolaDB
```

## Ejemplo HolaDB en netbeans
- Copiar la base de datos bd_estudiantes.db en la raíz de la carpeta del proyecto
- Adicionar el jdbd de sqlite **sqlite-jdbc-3.7.2.jar** al proyecto en netbeans:
  - Van ***libraries***
    - Van ***Add Jar/Forlders***
      - Buscan el jar en sus archivos y lo adicionan

## Ejemplo Estudiantes en Netbeans
- Abrir el proyecto **ProgramaDirectorioDB**
- Adicionar el JAR del JDBC:
  - Lo adiciona en **libraries** --**Add JAR/Forlder**
  
- Copian la base de datos **bd_estudiantes.db** en la raíz del directorio

# Ejemplos de consultas o queries para manejoa de BD

## Seleccionar todos los campos de todos los 
- Utilizarlo en obtener todos del DirectorioDAO
```
SELECT * FROM estudiantes
```

## Adicionar estudiante
```
INSERT INTO estudiantes VALUES ('joana', 'jj', '10-02-80', 'jj', 'pp', 11, 111, 'sociales');
```

## Búsqueda de un estudiante dado su correo institucional
- Se va a realizar la búsqueda sobre el correo 'kk'
```
SELECT * FROM estudiantes WHERE correoInstitucional=='kk'
```
- Para el proyecto debe construir la cadena con el correo que llegué como parámetro

## Eliminar dado un correo Institucional
```
DELETE FROM estudiantes WHERE correoInstitucional=='mm'
```

## Actualizar un elemento
```
UPDATE estudiantes SET nombres="anamaria" WHERE correoInstitucional="aa"
```

## Contar cuantos estudiantes en total hay en la tabla 
```
SELECT COUNT(*) FROM estudiantes;
```

## Dado un programa mostrar los estudiantes de ese programa
- Obtiene todos los campos:
```
SELECT * FROM estudiantes WHERE programa='ingenieria';
```
- Obtiene solo nombres y apellidos
```
SELECT nombres,apellidos FROM estudiantes WHERE programa='ingenieria';
```

## Dado un programa mostrar los estudiantes de ese programa
```
SELECT count(*) FROM estudiantes WHERE programa='ingenieria'
```

## Buscar por fecha de nacimiento
```
SELECT * FROM estudiantes WHERE fechaNacimiento='12-01-90'
```

## Buscar por número de celular
```
SELECT nombres, programa FROM estudiantes WHERE numeroCelular=50;
```

## Formateo de cadenas en Java
- Se utiliza para crear cadena de texto que se necesita modificar una parte de la cadena
- Se utiliza una cadena de texto con parámetros
- Los parametros se especifican con: %s
- La función de java es : String.format, así:
```
String nuevaCadena = String.format ("CadenaTextoConParamatros", ListaParametros);
```

### Ejemplos

In [4]:
// Se quiere construir la cadena:
// SELECT * FROM estudiantes WHERE correoInstitucional=='ana@gmail.com'

String correoIns = "ana@gmail.com";

String consulta = String.format ("SELECT * FROM estudiantes WHERE correoInstitucional='%s'", correoIns);

System.out.println (consulta);

SELECT * FROM estudiantes WHERE correoInstitucional='ana@gmail.com'

In [6]:
String correoIns = "pepe@hotmail.com";

String consulta = String.format ("SELECT * FROM estudiantes WHERE correoInstitucional='%s'", correoIns);

System.out.println (consulta);

SELECT * FROM estudiantes WHERE correoInstitucional='pepe@hotmail.com'

In [10]:
 // Cambia numeroCelular
int numero = 11;

String consulta = String.format ("SELECT * FROM estudiantes WHERE numeroCelular=%s", numero);

System.out.println (consulta);

SELECT * FROM estudiantes WHERE numeroCelular=11

## Ejemplo de Formateo de cadenas con los datos de estudiante

In [15]:
public class Estudiantes {
    // Atributos
    String nombres;
    String correoInstitucional;
    long numeroCelular;
        
    // Constructor
    public Estudiantes () {
        this.nombres = "";
        this.correoInstitucional = "";
        this.numeroCelular = 0;
    }
    
    public Estudiantes (String nombres, String correoInst, long nroCelular){
        this.nombres = nombres;
        this.correoInstitucional = correoInst;
        this.numeroCelular = nroCelular;
    }
    
    // Metodos
    public void presentarse () {
        System.out.println ("NOMBRES: " + nombres + " CORREO: " + correoInstitucional + " CELULAR" + numeroCelular);
    }            
}

In [23]:
Estudiantes e = new Estudiantes ("joana", "jj", 11);
e.presentarse ();

NOMBRES: joana CORREO: jj CELULAR11

In [26]:
// Cadena para insertar en SQL
String consulta = String.format ("INSERT INTO estudiantes VALUES ('%s', '%s', %s)", e.nombres, e.correoInstitucional, e.numeroCelular);
System.out.println (consulta);

INSERT INTO estudiantes VALUES ('joana', 'jj', 11)