In [33]:
options (stringAsFactors=F)
getwd()

[1] "/home/lg/repos/lgcursos/2021/MinTIC2021/MinTIC-Python/semana3/reto2/VPL-Junio01"

In [27]:
setwd ("/home/lg/repos/lgcursos/2021/MinTIC2021/MinTIC-Python/semana3/reto2/VPL-Junio01/")
getwd()

[1] "/home/lg/repos/lgcursos/2021/MinTIC2021/MinTIC-Python/semana3/reto2/VPL-Junio01"

In [52]:
data = read.csv ("lista-datos-grupo67.csv", stringsAsFactors=T)
head (data)

  Numero Apellido        Nombre           Correo
1 1      Acevedo Ariza   Jorge Andres     viajerosrcn@gmail.com
2 2      Ahumada Rincón  Diego Nicolas    nicolas1504@hotmail.com
3 3      Aldana  Barrera Andres           ing.andresaldana@gmail.com
4 4      Arias Camargo   Flor Mariles     florimar-1986@hotmail.com
5 5      Barajas Ochoa   Lorent Dhalila   dhalilabarajas@gmail.com
6 6      Bastos Meza     Nancy Yarilennys yarilennys@hotmail.com
  NombreCompleto
1 Jorge Andres Acevedo Ariza
2 Diego Nicolas Ahumada Rincón
3 Andres Aldana  Barrera
4 Flor Mariles Arias Camargo
5 Lorent Dhalila Barajas Ochoa
6 Nancy Yarilennys Bastos Meza

In [53]:
grades = read.csv ("calificaciones-reto2-VPL-Junio.csv", stringsAsFactors = T)
head (grades)

  NOMBRE                           CALIFICACION
1 'Sepúlveda Burgos Miguel Angel'  100
2 'Gonzalez Garavito Andrea'         0
3 'Quiroga Yopasa Carlos Felipe'   100
4 'Tequia Pinilla Rodney Snehyder' 100
5 'Solano suarez Jeison david'     100
6 'Aldana Barrera Andres'          100

In [62]:
library ("dplyr")
left_join (x=grades, y=data, by=c("NOMBRE"="NombreCompleto"))

   NOMBRE                               CALIFICACION Numero Apellido Nombre
1  'Sepúlveda Burgos Miguel Angel'      100          NA     NA       NA
2  'Gonzalez Garavito Andrea'             0          NA     NA       NA
3  'Quiroga Yopasa Carlos Felipe'       100          NA     NA       NA
4  'Tequia Pinilla Rodney Snehyder'     100          NA     NA       NA
5  'Solano suarez Jeison david'         100          NA     NA       NA
6  'Aldana Barrera Andres'              100          NA     NA       NA
7  'Salazar Portilla Juan Pablo'        100          NA     NA       NA
8  'Colorado Perez Laura Camila'        100          NA     NA       NA
9  'Paez Torres Angela Daniela'         100          NA     NA       NA
10 'Ortiz Hunda Andres Felipe'          100          NA     NA       NA
11 'VILLAMIL AVILA GEOVANI ARIEL'       100          NA     NA       NA
12 'Duque Giraldo Luz Alba'               0          NA     NA       NA
13 'Ruiz Oliverio'                      100          NA     NA       NA
14 'Serna Forero Jhon Esneider'         100          NA     NA       NA
15 'Velandia Martínez Andrés Fernando'  100          NA     NA       NA
16 'cruz barragan juan erasmo'            0          NA     NA       NA
17 'Córdoba Nariño Héctor Antonio'      100          NA     NA       NA
18 'Mendoza Garcia Lady Joanna'         100          NA     NA       NA
19 'Izquierdo Alarcon Nilet Yolanda'    100          NA     NA       NA
20 'Beleño Ortega Michael Stally'       100          NA     NA       NA
21 'Bergano Daniel'                     100          NA     NA       NA
22 'Gonzalez Arango Alejandro'          100          NA     NA       NA
23 'Briceño Moreno Johanna Paola'       100          NA     NA       NA
24 'montealegre ramos william fernando' 100          NA     NA       NA
25 'Beltran Vergara Daniel Alejandro'   100          NA     NA       NA
26 'Ruiz Muñoz Fabian Andres'           100          NA     NA       NA
27 'Girata Mora Pedro Rodolfo'          100          NA     NA       NA
28 'MARTINEZ BENAVIDES RENZZO ANTONIO'  100          NA     NA       NA
29 'Norena Gil Liliana Marisela'        100          NA     NA       NA
30 'Castro Castellanos Leidy Alejandra' 100          NA     NA       NA
31 'Ahumada Rincón Diego Nicolas'       100          NA     NA       NA
32 'Sinisterra Ciro Laura'              100          NA     NA       NA
33 'Lopez Gamarra Elsie Geraldine'        0          NA     NA       NA
34 'Sanchez Suarez Jennifer Alejandra'  100          NA     NA       NA
35 'Quintero Gutiérrez Pablo Julio'     100          NA     NA       NA
   Correo
1  NA
2  NA
3  NA
4  NA
5  NA
6  NA
7  NA
8  NA
9  NA
10 NA
11 NA
12 NA
13 NA
14 NA
15 NA
16 NA
17 NA
18 NA
19 NA
20 NA
21 NA
22 NA
23 NA
24 NA
25 NA
26 NA
27 NA
28 NA
29 NA
30 NA
31 NA
32 NA
33 NA
34 NA
35 NA

In [31]:
for (i in 1:100) print ("\n")

[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"
[1] "\n"